/* Import all of Bootstrap's CSS */
@import "~bootstrap/scss/bootstrap";

/* Custom Font */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

:root {
    -webkit-tap-highlight-color: transparent;
}

html:focus-within {
    scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

body {
    text-rendering: optimizeSpeed;
    font-family: 'Ubuntu', sans-serif;
}

.btn {
    border-radius: 2rem;
}