/* Import all of Bootstrap's CSS */
@import "~bootstrap/scss/bootstrap";

/* Custom Font */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

:root {
    -webkit-tap-highlight-color: transparent;
}

html:focus-within {
    scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

body {
    text-rendering: optimizeSpeed;
    font-family: 'Ubuntu', sans-serif;
    background-attachment: fixed;
    background-image: linear-gradient(to right top, #0ea5e9, #00b3e5, #00bdc9, #00c399, #22c55e);
}

.btn {
    border-radius: 2rem;
}

.modal-content {
    padding: 1rem;
}

.modal-title {
    font-size: 1.2rem;
    font-weight: 400;
}

.modal-submit {
    color: white;
    background-image: linear-gradient(to right top, #0ea5e9, #00b3e5, #00bdc9, #00c399, #22c55e);
    font-weight: 400;
}

h1 {
    color: white;
    font-size: 3rem;
    font-weight: 700;
}